.navbar{
    display: flex;
    justify-content: space-between;
    background: rgb(15, 15, 15);
    width: 94%;
    margin-bottom: 8px;
    background-image: linear-gradient(to right, black, grey);
    position: fixed;
    height: 5pc;
    align-items: center;
    top: 0%;
    left: 0%;
    padding-left: 3%;
    padding-right: 3%;
}

.logo{
    display: flex;
    align-items: center;
    height: 3pc;

}

.header{
    display: flex;
    align-items: center;
    height: 3pc;
}

.links{
    display: flex;
    align-items: center;
}

.logo-button{
    border-radius: 15px;
    padding: 0;
    border: 0;
    align-items: center;
}
li a {
    display: block;
    width: 60px;
}
.navlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}
  
li a {
    display: block;
}